@use 'sass:color';
@use '../../shared/_variables' as *;

.auth-container {
  display: flex;
  min-height: 100vh;

  .auth-left {
    background-color: color.adjust($light-gray, $lightness: 10%);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .image-placeholder {
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background-color: color.adjust($light-gray, $lightness: 10%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .auth-right {
    flex: 1;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 4rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: $accent-color;
      text-align: center;
    }

    label {
      font-weight: 600;
      margin-top: 1rem;
    }

    input {
      width: 100%;
      padding: 0.75rem 1rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      border-radius: 12px;
      border: none;
      background-color: $light-gray;
    }

    .primary-button {
      background-color: $primary-color;
      color: $white;
      border: none;
      padding: 0.75rem;
      border-radius: 20px;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
      }
    }

    .secondary-text {
      margin-top: 2rem;
      font-size: 0.9rem;
      text-align: center;
      color: $secondary-color;
    }

    .secondary-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      button {
        background-color: $secondary-color;
        color: $white;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: color.adjust($secondary-color, $lightness: -10%);
        }
      }
      
    }
    .google-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      box-shadow: 0 0 6px rgba(0,0,0,0.1);
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
    
    .google-container {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      width: 100%;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .auth-container {
    flex-direction: column;

    .auth-left {
      display: none;
    }

    .auth-right {
      padding: 2rem;
    }
  }
}
