$primary-color: #B26B40;       // Основний (60%)
$secondary-color: #8d5532;     // Вторинний (30%)
$accent-color: #A05A2C;        // Акцент (10%)
$light-gray: #F6F6F6;
$bg-color: #F1D0B8;
$white: #FFFFFF;

$main-text-color: #441d05;
$secondary-text-color: #652e0e;